{% extends 'layout2.html' %}
{% block content %}
  <header>
    <div class="jumbotron jumbotron-fluid mt-4">
      <div class="container">
        <h1 class="display-4"><i class="fa-solid fa-users"></i> Cadastrar novo usuário</h1>
        <p class="lead">
        Informe os dados para cadastrar novo usuário no sistema.
        </p>
      </div>
    </div>
  </header>
  <main>
    <div class="content-section mt-4">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <!-- <legend class="border-bottom mb-4">Cadastro usuário</legend> -->
          <div class="form-group">
            {{ form.nome.label(class='form-control-label') }} {% if form.nome.errors
            %} {{ form.nome(class='form-control form-control-lg is-invalid')}}
            <div class="invalid-feedback">
              {% for error in form.nome.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.nome(class='form-control
            form-control-lg',placeholder='Nome Completo')}} {% endif %}
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              {{ form.login.label(class='form-control-label') }} {% if
              form.login.errors %} {{ form.login(class='form-control form-control-lg
              is-invalid')}}
              <div class="invalid-feedback">
                {% for error in form.login.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.login(class='form-control form-control-lg',
              placeholder='Login de rede')}} {% endif %}
            </div>
            <div class="form-group col-md-6">
              {{form.siteSelect.label(class="form-group mr-2")}}
              {{form.siteSelect(class='custom-select mr-sm-2"')}}
            </div>
          </div>
          <div class="form-group">
            {{ form.email.label(class='form-control-label') }} {% if
            form.email.errors %} {{ form.email(class='form-control form-control-lg
            is-invalid')}}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.email(class='form-control form-control-lg',
            placeholder='informe e-mail')}} {% endif %}
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              {{ form.password.label(class='form-control-label') }} {% if
              form.password.errors %} {{ form.password(class='form-control
              form-control-lg is-invalid')}}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.password(class='form-control form-control-lg',
              placeholder='Informe a senha')}} {% endif %}
            </div>
            <div class="form-group col-md-6">
              {{ form.confiPassword.label(class='form-control-label') }} {% if
              form.confiPassword.errors %} {{ form.confiPassword(class='form-control
              form-control-lg is-invalid')}}
              <div class="invalid-feedback">
                {% for error in form.confiPassword.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.confiPassword(class='form-control form-control-lg',
              placeholder='Confirme a senha')}} {% endif %}
            </div>
          </div>
          <div class="form-row">
            <div class="custom-control custom-switch">
              {{form.adminUser(class="custom-control-input")}}
              {{form.adminUser.label(class="custom-control-label ml-1")}}
            </div>
            <div class="custom-control custom-switch">
              {{form.leitura(class="custom-control-input")}}
              {{form.leitura.label(class="custom-control-label ml-4")}}
            </div>
            <div class="custom-control custom-switch">
              {{form.escrita(class="custom-control-input")}}
              {{form.escrita.label(class="custom-control-label ml-4")}}
            </div>
            <div class="custom-control custom-switch">
              {{form.ativo(class="custom-control-input")}}
              {{form.ativo.label(class="custom-control-label ml-4")}}
            </div>
          </div>
          <div class="form-group mt-4">
            {{ form.submit(class='btn btn-outline-primary')}}
            <a href="{{url_for('user.lista_usuario')}}" class="btn btn-outline-danger ml-3">Cancelar</a>
          </div>
        </fieldset>
      </form>
    </div>
  </main>
{% endblock content %}
