{% extends 'layout2.html' %}
{% block content %}
  <header>
    <div class="jumbotron jumbotron-fluid mt-4">
      <div class="container">
        <h1 class="display-4 text-primary"><i class="fa-solid fa-pen-to-square"></i> {{legenda}}</h1>
        <p class="lead font-weight-normal">Informe a nova senha do usuário no sistema.</p>
      </div>
    </div>
  </header>
  <main>
    <div class="content-section mt-4">
      {{id_user}}
      <form method="POST" action="{{url_for('user.updatePassword_usuario')}}">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <div class="form-row">
            <div class="form-group col-md-6">
              {{ form.password.label(class='form-control-label') }} {% if
              form.password.errors %} {{ form.password(class='form-control
              form-control-lg is-invalid')}}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.password(class='form-control form-control-lg',
              placeholder='Informe a senha')}} {% endif %}
            </div>
            <div class="form-group col-md-6">
              {{ form.confiPassword.label(class='form-control-label') }} {% if
              form.confiPassword.errors %} {{ form.confiPassword(class='form-control
              form-control-lg is-invalid')}}
              <div class="invalid-feedback">
                {% for error in form.confiPassword.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.confiPassword(class='form-control form-control-lg',
              placeholder='Confirme a senha')}} {% endif %}
            </div>
          </div>
          <div class="form-group mt-4">
            {{ form.submit(class='btn btn-outline-primary')}}
            <a href="{{url_for('user.lista_usuario')}}" class="btn btn-outline-danger ml-3">Cancelar</a>
          </div>
        </fieldset>
      </form>
    </div>
  </main>
{% endblock content %}
