{% extends "layout2.html" %}
{% block content %}
  <header>
    <div class="jumbotron jumbotron-fluid mt-4">
      <div class="container">
        <h1 class="display-4">Novo Equipamento Site</h1>
        <p class="lead">Preenchar os todos os campos para cadastrar novo equipamento e o local que esse vai ficar no site.</p>
      </div>
    </div>
  </header>
  <div class="content-section mt-4">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <!-- <legend class="border-bottom mb-4">Cadastrar Novo Equipamento Site</legend> -->
        <div class="form-group">
          {{ form.serial.label(class='form-control-label') }}
          {% if form.serial.errors %}
            {{ form.serial(class='form-control form-control-lg is-invalid')}}
            <div class="invalid-feedback">
              {% for error in form.serial.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.serial(class='form-control form-control-lg',placeholder='Ex.: XTPOQ1V1')}}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.patrimonio.label(class='form-control-label') }}
          {% if form.patrimonio.errors %}
            {{ form.patrimonio(class='form-control form-control-lg is-invalid')}}
            <div class="invalid-feedback">
              {% for error in form.patrimonio.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.patrimonio(class='form-control form-control-lg', placeholder='Ex.: MSG00000001234')}}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.hostname.label(class='form-control-label') }}
          {% if form.hostname.errors %}
            {{ form.hostname(class='form-control form-control-lg is-invalid')}}
            <div class="invalid-feedback">
              {% for error in form.hostname.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.hostname(class='form-control form-control-lg', placeholder='Ex.: PBR001150-M1234')}}
          {% endif %}
        </div>
        <div class="form-row">
          <div class="col-6">
            {{form.selection.label(class="form-group mr-2")}}
            {% if form.selection.errors %}
              {{form.selection(class='custom-select mr-sm-2 is-invalid')}}
              <div class="invalid-feedback">
                {% for error in form.selection.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.selection(class='custom-select')}}
            {% endif %}
          </div>
          <div class="col-6">
            {{form.tipoDispositivo.label(class='form-group mr-2')}}
            {{form.tipoDispositivo(class='custom-select mr-sm-2')}}
          </div>
          <!-- <div class="form-check form-check-inlinee mt-4">
            {% for i in form.tipoDispositivo %}
              {{i}}
              {{i.label(class='form-check-label')}}
              &nbsp;&nbsp;
            {% endfor %}
          </div> -->
          
        </div>
        <div class="form-group mt-4">
          {{ form.submit(class='btn btn-outline-primary')}}
          <a href="{{url_for('equipamento.inventario')}}" class="btn btn-outline-danger ml-3">Cancelar</a>
        </div>
      </fieldset>
    </form>
  </div>
{% endblock content %}