{% extends 'layout2.html' %}
{% block content %}
  <header>
    <div class="jumbotron jumbotron-fluid mt-4">
      <div class="container">
        <h1 class="display-4">Site cadastrados no sistema</h1>
        <p class="lead">Relação de todos os site cadastrado no sistema.</p>
      </div>
    </div>
    <form action="#" class="ml-3 mb-4">
      <div class="form-group">
        <div class="row">
          <input type="text" class="form-control col-md-5" name="consulta" placeholder="Digita aqui a consulta"/>
          <select class="form-control col-md-2 ml-3" name="campo" id="">
            <option value="serial">Nome</option>
            <option value="patrimonio">Cidade</option>
            <option value="local">CEP</option>
          </select>
          <button type="submit" class="btn btn-success ml-4"><i class="fa-solid fa-magnifying-glass"></i> Consultar</button>
          <a class="btn btn-primary ml-3" href="{{url_for('main.registrar_site')}}" role="button"><i class="fa-solid fa-plus"></i> Novo</a>
        </div>
      </div>
    </form>
  </header>
  <main>
    <table class="table table-hover text-center">
      <thead>
        <tr class="table-secondary">
          <th scope="col"><a href="#">Id</a></th>
          <th scope="col"><a href="#">Site</a></th>
          <th scope="col"><a href="#">Cidade</a></th>
          <th scope="col"><a href="#">CEP</a></th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for site in sites%}
          <tr>
            <th scope="row">{{site.id}}</th>
            <td>{{site.nome}}</td>
            <td>{{site.cidade}}</td>
            <td>{{site.cep}}</td>
            <td>
              <a class="btn btn-info" href="{{url_for('main.update_site', id_site=site.id)}}" role="button"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
              <a href="#" onclick="excluirSite('{{site.id}}')" role="button" class="btn btn-danger ml-3" data-toggle="modal" data-target="#deleteModalCenter"><i class="fa-solid fa-trash-can"></i> Excluir</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
  <!-- Modal -->
  <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Excluir Site?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span class="font-weight-bold">Se esse é o seu desejo então confirme selecionando Excluir</span>
          <!-- <span id="teste_id"></span> -->          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <form action="{{url_for('main.delete_site')}}" method="POST">
            <input type="hidden" name="id_site" id="id_site">
            <input type="submit" class="btn btn-danger" value="Excluir">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}