:root{
    --vermelho:#e50914;
    --verde:#1fc01f;
    --laranja: rgb(223, 186, 85);
    --black: #000000
}

.conectado, .desconectado, .atencao{
    font-size: 2rem;
    font-family: 'Courgette', cursive;
}
.conectado{
    color: var(--verde);
}

.desconectado{
    color: var(--vermelho);
}

.atencao{
    color: var(--laranja);
}

.dashimg{
    width: 20%;
  }

.dashqtd{
    color: #1fc01f;
    font-size: 40px;
}
.dashdispositivo{
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Courgette', cursive;
    color: #e50914;
    font-size: 19px;
}

.data{
    color: #1fc01f;
    font-size: 2rem;
}

.monitora{
    font-family: 'Courgette', cursive;
}

.monitoraInfo{
    font-family: 'Courgette', cursive;
    font-size: 18px;
}

.dashData, .dashHora {
    font-family: 'Courgette', cursive;
    color: var(--black);
    font-size: 3rem;
}

.dashHora {
    margin-left: 20px;
}

.detalhe{
    margin-top: 19px;
}

.dataHora{
    margin-top: 70px;
}