:root{
    --vermelho:#e50914;
    --preta:#141414;
    --branca: #ffff;
}

 .logo{
    margin-left: 5px;
    margin-right: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    /* color: white; */
    text-align: center;
    z-index: -1;
}