{% extends 'layout2.html' %}

{% block content %}
<div class="container">
  <div class="content-section mt-4">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Cadastro usuário</legend>
        <div class="form-group">
          {{ form.nome.label(class='form-control-label') }}
          {% if form.nome.errors %}
            {{ form.nome(class='form-control form-control-lg is-invalid')}}
            <div class="invalid-feedback">
              {% for error in form.nome.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.nome(class='form-control form-control-lg',placeholder='Nome Completo')}}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.login.label(class='form-control-label') }}
          {% if form.login.errors %}
            {{ form.login(class='form-control form-control-lg is-invalid')}}
            <div class="invalid-feedback">
              {% for error in form.login.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.login(class='form-control form-control-lg', placeholder='Login de rede')}}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.password.label(class='form-control-label') }}
          {% if form.password.errors %}
            {{ form.password(class='form-control form-control-lg is-invalid')}}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(class='form-control form-control-lg', placeholder='Informe a senha')}}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.confiPassword.label(class='form-control-label') }}
          {% if form.confiPassword.errors %}
            {{ form.confiPassword(class='form-control form-control-lg is-invalid')}}
            <div class="invalid-feedback">
              {% for error in form.confiPassword.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.confiPassword(class='form-control form-control-lg', placeholder='Confirme a senha')}}
          {% endif %}
        </div>
        <div class="form-group mt-4">
          {{ form.submit(class='btn btn-outline-primary')}}
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock content %}