<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    {% if title %}
    <title>Monitora - {{title}}</title>
    {% else %}
    <table>Monitora</table>
    {% endif %}
</head>

<body>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">Sobre</h4>
                        <p class="text-muted">
                            Monitora foi desenvolvida por: José Edmar de Siqueira, Analista do Sim 24 Horas para monitorar os equipamentos conectado a rede MAPFRE, 
                            esse monitoramento pode ser realizado em qual quer local desde que seja cadastrado no sistema.
                            Monitora também é um sistema de controle de estoque, para melhor integração e controle dos dispositivos que estão inloco ou no  inventário.
                        </p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Opções</h4>
                        <ul class="list-unstyled">
                            {% if current_user.is_authenticated %}
                                <li><a href="{{url_for('user.logout')}}" class="text-white"> <i class="fa-solid fa-right-from-bracket"></i> Sair</a></li>
                                {% if current_user.admin and current_user.ativo%}
                                    <li><a href="{{url_for('equipamento.listagem')}}" class="text-white"><i class="fa-solid fa-gears"></i> Tela Administrativa</a></li>
                                {% endif %}
                            {% else %}
                                <li><a href="{{url_for('user.login')}}" class="text-white"><i class="fa-solid fa-right-from-bracket"></i> Logar</a></li>
                            {% endif %}
                            <li><a href="#" class="text-white"><i class="fa-regular fa-envelope"></i> Contactar Suporte</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong class="logo">MAPFRE</strong>
                </a>
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong>Site - {{local}}</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

    </header>
    
    {% block content %}  {% endblock %}
    <hr>
    <footer class="container">
        <p>&copy; Company 2022-2022</p>
    </footer>

    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/holder.min.js')}}"></script>
    <script src="https://kit.fontawesome.com/3af24db212.js" crossorigin="anonymous"></script>
</body>

</html>