
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/listagem.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">

    {% if title %}
    <title>Monitora - {{title}}</title>
    {% else %}
    <table>Monitora</table>
    {% endif %}

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('main.home')}}"><i class="fa-solid fa-house"></i> Monitora</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbars">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item px-3 active">
              <a class="nav-link" href="{{url_for('equipamento.listagem')}}"><i class="fa-solid fa-clipboard-list"></i> Inventário<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="#"><i class="fa-solid fa-table"></i> Estoque</a>
            </li>
            <li class="nav-item px-3 dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-gears"></i> Adm-site</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><i class="fa-solid fa-table"></i> Estoque</a>
                <a class="dropdown-item" href="{{url_for('main.site')}}"><i class="fa-solid fa-map-location"></i> Site</a>
                <a class="dropdown-item" href="{{url_for('main.localizarPA')}}"><i class="fa-solid fa-magnifying-glass-location"></i> Local-Atendimento</a>
                <a class="dropdown-item" href="{{url_for('equipamento.viewEqupamento')}}"><i class="fa-solid fa-laptop-code"></i> Equipamento</a>
              </div>
            </li>
            <li class="nav-item px-3 dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-users-gear"></i> Usuários</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{url_for('user.novo_usuario')}}"><i class="fa-solid fa-user-plus"></i> Novo usuário</a>
                <a class="dropdown-item" href="{{url_for('user.lista_usuario')}}"><i class="fa-solid fa-list-ol"></i> Listar usuário</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item">
              <span class="text-light"><i class="fa-solid fa-user-check text-success"></i> {{current_user.login}}</span>
            </li>
          </ul>
          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('user.logout')}}"><i class="fa-solid fa-right-from-bracket"></i> Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-4">
      
      {% with messages = get_flashed_messages(with_categories=true)%}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{category}}">
                      {{message}}
                  </div>
              {% endfor %}
          {%endif%}
      {%endwith%}

      {% block content %}  {% endblock %}

    </div>

    <hr>
    <footer class="container">
      <p>&copy; Company 2022-2022</p>
    </footer>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/holder.min.js')}}"></script>
    <script src="https://kit.fontawesome.com/3af24db212.js" crossorigin="anonymous"></script> 
    <script src="{{url_for('static', filename='js/scriptModal.js')}}"></script>
    <script>
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    </script>
  </body>
</html>
